*{margin:0;padding:0;}
body{overflow: hidden;}
.wrap { width: 86%; /*height: 220px; */padding:0 5%;margin: 0 auto; /*font-family: arial,SimSun; font-size: 0;*/position: relative;}
.w-box{width: 100%;height:1500px;overflow: hidden;padding:3% 0;}

h1{ width: 1000px; margin: 40px auto; font: 32px "Microsoft Yahei"; text-align: center;}
#list{
    width: 500%;padding-left:1%;position: relative;
}
#list:after{
    content:'';
    display: table;
    clear: both;
}

#list >div {
    float:left; width:3.1%;  margin: 0 20px 20px 0;position:absolute;
    z-index: 10;
}
/*#list >div:nth-child(even){top:-30px;}*/
#list >div span { display: block;  text-align: center; color: #fff; height:100%;}
#list >div span img{width:100%;height:100%;}
/*#list a{
    font-size:22px;
    color:#fff;
    font-weight:bold;
    text-decoration: none;
}*/
#box {width:20%; margin: 1% auto 10%; background-color: #ccc;position: relative;}
#box .item{width:100%;height:100%!important;}
#box span { display: block; width: 100%; height: 100%;/* margin: 10px 0 0 10px;*/  font-size: 1rem; text-align: center; color: #fff; }
#box span img{width: 100%;height:100%;}
.active{
    border:2px solid #f20!important;
}
#boxBtn{
    margin:0 auto;
    width:200px;
    height:36px;
}
#box {width:20%; margin: 1% auto 10%; background-color: #ccc;position: relative;}
#box span { display: block; width: 100%; height: 100%;/* margin: 10px 0 0 10px;*/  font-size: 1rem; text-align: center; color: #fff; }
#box span img{width: 100%;height:100%;}
.prev{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top:53%;
    line-height: 44px;
    text-indent: 5px;
    left:0;
    font-size: 50px;
    cursor: pointer;
    color:#fff;
}
.next{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top:53%;
    line-height: 44px;
    text-indent: 8px;
    right:0;
    font-size: 50px;
    cursor: pointer;
    color:#fff;
}
.next:active{background: orange;}
.prev:active{background: orange;}
.positN{position: absolute;left:102%;bottom:-45%;width: 15%;}
.positN img{width: 100%;height:100%;}

.cancel-dh{position: absolute;left:10%;bottom:-70%;width:15%;background: #000;color:#fff;}


/*узуж╡Ц*/
.mask{
    display: none;
    width: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top:77%;left:0;
}
.closeMask{
    position: absolute;
    right:14%;
    top:5%;
    color:#fff;
    font-size:50px;
}
/*втп╢бж╡╔*/
.third-bod{
    position: absolute;
    top:10%;
    left:26%;
    width: 52%;
    margin:0 auto;
}
.third-box{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.third-box ul{
    position:relative;
    width:500%;
}
.third-box ul:after{
    content:'';
    display: table;
    clear: both;
}
.third-box ul>li{
    list-style: none;
    float: left;
    width: 20%;
}
.third-box img{
    width: 100%;
    height:100%;
}
.third-bod .prev{
    position: absolute;
    top:40%;
    left:-30%;
    font-size: 50px;
    cursor: pointer;
    color:#fff;
}
.third-bod .next{
    position: absolute;
    top:40%;
    right:-30%;
    font-size: 50px;
    color:#fff;
    cursor: pointer;
}
/*узуж╡Ц*/